<!DOCTYPE html>
<html lang="en">
{{> baseHead }}
<body>
{{> siteHeader }}
<div>
    <h2>สวัสดีฟีลเฟรนด์ส</h2>
    <p>วันนี้เพื่อนมีอะไรจะฝากถาม....</p>
</div>
    <p>สวัสดีหน้าแรก q={{ q }}, sortBy={{ sortBy }}</p>
{{> siteFooter }}
</body>
</html>