<!DOCTYPE html>
<html lang="en">
{{> baseHead customTitle='น่ารัก 555 | '}}
<body>
    {{> siteHeader }}
    <h1>น่ารัก 555</h1>
    <p>น่ารักที่สุดในโลก</p>
    <p>หน้าโพสต์เดี่ยว ID={{ postId }} นีคือรหัสไอดีของคุณ</p>
    {{> siteFooter }}
</body>
</html>